nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: var(--transition);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: none;
}

.nav-menu {
    display: flex;
    gap: 3.5rem;
}

.nav-icon {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

/* Hide nav menu in small screens */
@media (max-width:1024px) {
    .nav-menu {
        display: none;
    }
}